	<header class="container-fluid">
		<nav class="navbar navbar-expand-sm navbar-light">
			<a class="navbar-brand active" href="{{ .Site.BaseURL }}">{{ .Site.Params.styledTitle | default .Site.Title | markdownify }}</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
					{{- $currentPage := . }}
					{{- range .Site.Menus.main }}
					<li class="nav-item">
						<a class="nav-link{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href="{{ .URL | absURL }}">{{ .Name }}</a>
					</li>
					{{- end }}
				</ul>
			</div>
		</nav>
		<hr class="mt-0">
	</header>
