/* Global styling */
html {
	color: #111111;
}
html, .pure-g [class *= "pure-u"] {
	font-family: 'Ubuntu', sans-serif;
}

/* Centering */
.wrapper {
	width: 100%;
	margin: 0;
}
.container {
	max-width: 60em;
	margin: 0 auto;
	padding: 0.5em;
}

/* Override menu links */
.pure-menu-link {
	color: inherit;
}
.pure-menu-active > .pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {
	color: #aaaaaa;
	background-color: transparent;
	text-decoration: none;
}

/* Custom styling elements */
.site-title {
	display: inline-block;
}
.site-navigation {
	border-bottom: 1px solid #dddddd;
}
.site-footer {
	border-top: 1px solid #dddddd;
}
.site-listing {
	font-size: 120%;
	margin: 0;
	padding-left: 0;
	list-style: none;
}
.site-listing li {
	margin: 0.5em 0;
}
.site-listing li > a {
	color: inherit;
}
.site-footnote {
	font-size: 80%;
	color: #777777;
	margin: 0;
}
/* Posts */
.post-title {
	margin-bottom: 0;
}
.post {
	line-height: 1.5;
}
.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
	line-height: 1.2;
}
.post hr {
	border-top: 0;
}
.post a {
	color: #0074d9;
	text-decoration: none;
}
.post a:hover {
	text-decoration: underline;
}
.post img {
	max-width:100%;
	height:auto;
	display:block;
}
.post code {
	font-family: 'Ubuntu Mono', monospace;
	color:  #f012be;
	padding: 0.2em;;
}
.post pre code {
	color:  inherit;
	background-color: #f0f0f0;
	display: block;
	padding: 0.5em;;
	overflow: auto;
}
.post blockquote {
	margin: inherit;
	border-left: 5px solid #dddddd;
	padding-left: 1em;
}

/* Text alignment */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
