body {
	max-width: 50em;
	margin: auto;
	font-family: "Roboto" !important
}

code, pre {
	font-family: "Roboto Mono" !important
}
.post-list {
	font-size: 0.9;
}
.post-link {
	color: black;
}
.post-link:hover {
	color: black;
}
