{{ define "main" }}
	<section class="container-fluid">
		<h5>{{ .Title }}</h5>
		<ul class="nav d-flex flex-wrap">
			{{- $type := .Type }}
			{{- range .Data.Terms.ByCount }}
			<li class="mx-1" style="list-style: none">
				{{- $name := .Name }}
				{{- $count := .Count }}
				{{- with $.Site.GetPage ( printf "/%s/%s" $type $name ) }}
				<a href="{{ .Permalink }}">
					<button class="btn btn-sm btn-secondary m-1">{{ $name }} <span class="badge">{{ $count }}</span></button>
				</a>
				{{- end }}
			</li>
			{{- end }}
		</ul>
	</section>
{{- end }}
