	<footer class="container-fluid text-center mb-2">
		<hr class="mb-2">
		<div class="row">
			<div class="d-none d-sm-block col-sm-2"></div>
			<div class="col-sm-8">
				<small>{{ with .Site.Author.name }}&copy; {{ . }}{{ end }} {{ with .Site.Copyright }}{{ . }}{{ end }}</small>
			</div>
			<div class="d-none d-sm-block col-sm-2">
				<a href="{{ "posts/index.xml" | absURL }}">
					<span class="oi oi-rss"></span>
				</a>
			</div>
		</div>
	</footer>
	
	<!-- JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<!-- MathJax -->
	<script src="{{ "js/mathjax.js" | absURL }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML.js" integrity="sha384-Ra6zh6uYMmH5ydwCqqMoykyf1T/+ZcnOQfFPhDrp2kI4OIxadnhsvvA2vv9A7xYv" crossorigin="anonymous"></script>
