		<ul class="nav flex-column">
			{{- range . }}
			<li class="d-inline d-sm-flex justify-content-between">
				<a href="{{ .URL }}">
					<div class="d-flex">
						<time class="mr-3" datetime="{{ .Date.Format "2006-01-02" }}">
							<pre class="mb-0">{{ .Date.Format "2006-01-02" }}</pre>
						</time>
						<div>
							<span class="text-body" href="{{ .URL }}">{{ .Title }}</span>
						</div>
					</div>
				</a>
				<div class="d-flex justify-content-start justify-content-sm-end">
					{{- range .Params.tags }}
					<a class="badge badge-light m-1" href="{{ printf "/%s/%s" "tags" . | urlize }}">{{ . }}</a>
					{{- end }}
				</div>
			</li>
			{{- end }}
		</ul>
